<!doctype html>
<html lang="en">

<head>
    <title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../CSS/listOrderStyle.css">
    <link rel="stylesheet" href="../../CSS/homeStyles.css">

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <h8 class="navbar-brand">eCommerce</h8>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a id="pedidos" class="nav-link active" aria-current="page" href="#!">Pedidos</a></li>
                    <li id="orders" class="nav-item"><a id="entregados" class="nav-link" href="#!">Entregados</a></li>
                    <li id="orders" class="nav-item"><a id="aprobarProduct" class="nav-link" href="#!">Solicitudes de Ingreso</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5" id="containerTitle">
                    <template id="templateTitle">
                    <h2 class="heading-section" id="numOrder">Carrito</h2>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>
                                    <th>SKU</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="container">
                                <template id="templateRow">
                                <tr>
                                    <th id="sku" scope="row">1</th>
                                    <td id="nameProduct">Mark</td>
                                    <td id="descriptionProduct">Otto</td>
                                    <td id="cantidad">markotto@email.com</td>
                                    <td id="total">markotto@email.com</td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../JS/Package/detailsListScriptPackage.js"></script>

</body>

</html>